<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .main {
            width: 700px;
            height: 700px;
            margin: auto;
            margin-top: 100px;
        }

        table {
            text-align: center;
        }

        .register {
            text-align: center;
            display: inline-block;
            border: 1px solid;
            width: 80px;
            height: 30px;
            background-color: mistyrose;
            text-decoration: none;
            line-height: 30px;
        }

    </style>
</head>
<body>
<div class="main">
    <a href="/board/register" class="register">글 쓰기</a>
    <table>
        <colgroup>
            <col width="50">
            <col width="300">
            <col width="150">
            <col width="200">
        </colgroup>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${board}">
            <td th:text="${board.idx}"></td>
            <td><a th:href="@{/board/detail/{idx}(idx=${board.idx})}" th:text="${board.title}"></a></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>